/*========= Primary Colors =========*/
$ruby: #a20021;
$gray: #686963;
$sand: #f79d5c;
$pumpkin: #f3752b;
$ghost: #ededf4;
/*========= Box Shadow =========*/
$light-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$medium-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$heavy-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
